<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b5123099c5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main style="background: url('../public/images/anh-nen-dep.jpg') no-repeat center fixed; background-size: cover;">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
      <div class="card d-flex p-3 card-outline card-success">
        <h4 class="text-primary d-flex justify-content-center  m-1 text-success">Đăng nhập</h4>
        <form  action="/" method="post"class="card-body d-flex justify-content-center align-items-center flex-column">
        <div class="mb-3 d-flex flex-column">
          <label for="" class="form-label">Tên tài khoản:</label>
          <input type="text"
            class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Email">
        </div>
        <div class="mb-3 d-flex flex-column">
          <label for="" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu">
        </div>
        <% if(typeof msg === "string" && !(msg.trim().length === 0)){%>
        <span class="text-danger"><%= msg %></span>
        <%}%>
        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
      </form>
    </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
